{% liquid
  comment
    Renders the free shipping bar for the quick cart.
  endcomment

  assign free_shipping_success_message = 'cart.general.free_shipping' | t
  assign free_shipping_pending_message = 'cart.general.free_shipping_remaining_html' | t
-%}

{%- if settings.enable_free_shipping_bar and settings.free_shipping_threshold != blank -%}
  <div
    class="free-shipping-bar"
    data-free-shipping-bar
    data-is-loaded="false"
    data-threshold="{{ settings.free_shipping_threshold }}"
    data-is-over-threshold="false"
    data-cart-total="{{ cart.total_price }}"
    data-free-shipping-success-message="{{ free_shipping_success_message }}"
    data-free-shipping-pending-message="{{ free_shipping_pending_message }}"
  >
    <div class="free-shipping-bar-inner">
      <div class="inventory-counter__message-wrapper ff-body fs-body-75">
        {%- render 'icon', icon: 'package-closed' -%}

        <h4 class="free-shipping-bar__message"></h4>
      </div>

      <div class="free-shipping-bar__bar">
        <span class="free-shipping-bar__bar-progress"></span>

        <span class="free-shipping-bar__progress-complete">
          {% render 'icon', icon: 'checkmark' %}
        </span>
      </div>
    </div>
  </div>
{%- endif -%}
