<span class="icon icon-{{ icon }} {{ class }}" style="{{ style }}">
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      {%- case icon -%}
        {%- comment -%}Header icons - these follow specific inner whitespace and should only be used in the header{%- endcomment -%}
        {%- when 'header-account' -%}
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.992 2.664a4.71 4.71 0 0 1 2.447.685 5.035 5.035 0 0 1 1.795 1.88c.432.781.661 1.668.665 2.572a5.373 5.373 0 0 1-.644 2.579 5.05 5.05 0 0 1-1.673 1.826.552.552 0 0 0-.131.083 4.72 4.72 0 0 1-2.428.683 4.721 4.721 0 0 1-2.457-.686 5.046 5.046 0 0 1-1.801-1.887 5.37 5.37 0 0 1-.007-5.156 5.037 5.037 0 0 1 1.79-1.886 4.71 4.71 0 0 1 2.444-.693zm2.87 10.716a5.778 5.778 0 0 1-2.837.757 5.776 5.776 0 0 1-2.874-.762 8.657 8.657 0 0 0-4.094 3.21 9.386 9.386 0 0 0-1.65 5.333c0 .321-.247.582-.552.582-.306 0-.553-.26-.553-.582 0-2.163.652-4.27 1.861-6.019a9.826 9.826 0 0 1 3.898-3.32 6.272 6.272 0 0 1-1.252-1.596 6.593 6.593 0 0 1-.814-3.165v-.002A6.582 6.582 0 0 1 6.8 4.66a6.174 6.174 0 0 1 2.194-2.31 5.774 5.774 0 0 1 2.997-.85 5.773 5.773 0 0 1 2.999.84 6.17 6.17 0 0 1 2.2 2.303c.53.958.81 2.045.814 3.154a6.584 6.584 0 0 1-.789 3.16 6.27 6.27 0 0 1-1.265 1.628 9.824 9.824 0 0 1 3.887 3.314 10.593 10.593 0 0 1 1.861 6.019c0 .321-.247.582-.553.582-.305 0-.553-.26-.553-.582a9.387 9.387 0 0 0-1.65-5.333 8.656 8.656 0 0 0-4.08-3.205z" fill="currentColor" stroke="currentColor" stroke-width=".19"/>

        {%- when 'header-search' -%}
          <path d="M11.048 17.89a6.923 6.923 0 1 0 0-13.847 6.923 6.923 0 0 0 0 13.847z" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round"/>
          <path d="m16 16 4.308 4.308" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10"/>

        {%- when 'header-shopping-cart' -%}
          <path d="M22.861 4.2a.635.635 0 0 0-.496-.238H5.475l-.472-2.047a.635.635 0 0 0-.618-.492h-2.75a.635.635 0 0 0 0 1.27H3.88l3.206 13.892a.635.635 0 0 0 .618.492H20.42a.635.635 0 0 0 0-1.27H8.21l-.488-2.115h12.74a.635.635 0 0 0 .62-.495l1.904-8.461a.634.634 0 0 0-.124-.536zm-2.907 8.223H7.428l-1.66-7.192h15.804l-1.618 7.192zm-9.646 5.5A2.33 2.33 0 0 0 7.98 20.25a2.33 2.33 0 0 0 2.327 2.327 2.33 2.33 0 0 0 2.327-2.327 2.33 2.33 0 0 0-2.327-2.327zm0 3.385a1.059 1.059 0 0 1 0-2.116 1.059 1.059 0 0 1 0 2.116zm7.615-3.385a2.33 2.33 0 0 0-2.327 2.327 2.33 2.33 0 0 0 2.327 2.327 2.33 2.33 0 0 0 2.327-2.327 2.33 2.33 0 0 0-2.327-2.327zm0 3.385a1.059 1.059 0 0 1 0-2.116 1.059 1.059 0 0 1 0 2.116z" fill="currentColor"/>

        {%- when 'header-shopping-bag' -%}
          <path d="M19.431 22.368H4.578L2.235 8.995H8.06a50.91 50.91 0 0 0-.434 2.83.566.566 0 0 0 .56.644.562.562 0 0 0 .553-.494c.126-.996.291-1.997.47-2.975h5.665c.165 1.023.295 2.038.38 2.953a.562.562 0 0 0 .608.516.568.568 0 0 0 .51-.62 49.843 49.843 0 0 0-.353-2.85h5.74l-2.329 13.369zM11.978 1.637c1.117 0 2.088 2.997 2.705 6.217H9.438c.72-3.428 1.708-6.217 2.54-6.217zm10.891 6.421a.57.57 0 0 0-.433-.2h-6.604C15.232 4.53 14.07.5 11.978.5c-1.825 0-3.014 3.967-3.703 7.354h-6.71a.594.594 0 0 0-.434.2.563.563 0 0 0-.121.466l2.548 14.509a.56.56 0 0 0 .55.471h15.793a.555.555 0 0 0 .55-.471l2.54-14.51a.561.561 0 0 0-.122-.461z" fill="currentColor"/>

        {%- when 'header-menu' -%}
          <path d="M3.692 12.646h16.616M3.692 5.762h16.616M3.692 19.608h16.616" stroke="currentColor" stroke-width="1.2"/>

        {%- when 'header-menu-close' -%}
          <path d="M18.462 6.479 5.538 19.402M5.538 6.479l12.924 12.923" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="6.667" stroke-linejoin="round"/>

        {%- comment -%}Stock level indicator icons{%- endcomment -%}
        {%- when 'stock-check' -%}
          <path d="M6 13.0385L10.2353 16.5L18 7.5" stroke="currentColor" stroke-width="2.25"/>

        {%- when 'stock-low' -%}
          <g clip-path="url(#clip0_16650_355156)">
            <path d="M12 14.5258V6.42578" stroke="currentColor" stroke-width="2.1825" stroke-linejoin="round"/>
            <path d="M11.9998 17.2422H11.9946" stroke="currentColor" stroke-width="2.1825" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12.0008 17.2422H12" stroke="currentColor" stroke-width="2.1825" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M11.9973 17.9211C11.811 17.9211 11.6598 17.77 11.6598 17.5836C11.6598 17.3972 11.811 17.2461 11.9973 17.2461" stroke="currentColor" stroke-width="2.1825"/>
            <path d="M11.9973 17.9211C12.1837 17.9211 12.3348 17.77 12.3348 17.5836C12.3348 17.3972 12.1837 17.2461 11.9973 17.2461" stroke="currentColor" stroke-width="2.1825"/>
          </g>

          <defs>
            <clipPath id="clip0_16650_355156">
              <rect width="13.5" height="13.5" fill="currentColor" transform="translate(5.25 5.75)"/>
            </clipPath>
          </defs>

        {%- when 'stock-unavailable' -%}
          <path d="M7.6731 7.67285L12 11.9998M16.3269 16.3267L12 11.9998M12 11.9998L16.3269 7.67285M12 11.9998L7.6731 16.3267" stroke="currentColor" stroke-width="1.93846" stroke-linecap="square"/>

        {%- comment -%}Utility icons{%- endcomment -%}
        {%- when 'modal-drawer-close' %}
          <path d="M6 6L12.25 12.25M18.5 18.5L12.25 12.25M12.25 12.25L18.5 6M12.25 12.25L6 18.5" stroke="currentColor" stroke-width="1.16667" stroke-linecap="square"/>

        {%- when 'close' -%}
          <path d="M2.66 1.34 2 .68.68 2l.66.66 1.32-1.32zm18.68 21.32.66.66L23.32 22l-.66-.66-1.32 1.32zm1.32-20 .66-.66L22 .68l-.66.66 1.32 1.32zM1.34 21.34.68 22 2 23.32l.66-.66-1.32-1.32zm0-18.68 10 10 1.32-1.32-10-10-1.32 1.32zm11.32 10 10-10-1.32-1.32-10 10 1.32 1.32zm-1.32-1.32-10 10 1.32 1.32 10-10-1.32-1.32zm0 1.32 10 10 1.32-1.32-10-10-1.32 1.32z" fill="currentColor"/>

        {%- when 'close-small' -%}
          <path stroke="currentColor" stroke-linecap="square" stroke-width="3.292" d="M3.346 3.346 12 12m0 0 8.653 8.654M12 12l8.653-8.654M12 12l-8.654 8.654"/>

        {%- when 'plus' -%}
          <path d="M1 12H12M23 12H12M12 12V1M12 12V23" stroke="currentColor" stroke-width="2"/>

        {%- when 'plus-small' -%}
          <path d="M13.25 1.5V.25h-2.5V1.5h2.5zm-2.5 21v1.25h2.5V22.5h-2.5zM1.5 10.75H.25v2.5H1.5v-2.5zm21 2.5h1.25v-2.5H22.5v2.5zm-21 0H12v-2.5H1.5v2.5zm10.5 0h10.5v-2.5H12v2.5zM10.75 1.5V12h2.5V1.5h-2.5zm0 10.5v10.5h2.5V12h-2.5z" fill="currentColor"/>

        {%- when 'plus-16' -%}
          <path d="M12 4V12M12 12V20M12 12H20M12 12H4" stroke="currentColor" stroke-width="1.25"/>

        {%- when 'minus' -%}
          <path d="M1 12H23" stroke="currentColor" stroke-width="2"/>

        {%- when 'minus-small' -%}
          <path d="M1.5 10.75H.25v2.5H1.5v-2.5zm21 2.5h1.25v-2.5H22.5v2.5zm-21 0H12v-2.5H1.5v2.5zm10.5 0h10.5v-2.5H12v2.5z" fill="currentColor"/>

        {%- when 'minus-16' -%}
          <path d="M20 12H12H4" stroke="currentColor" stroke-width="1.25"/>

        {%- when 'remove' -%}
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.472" d="M1.902 5.292h20.196M19.854 5.292V21a2.244 2.244 0 0 1-2.244 2.244H6.39A2.244 2.244 0 0 1 4.146 21V5.292m3.366 0V3.048A2.244 2.244 0 0 1 9.756.804h4.488a2.244 2.244 0 0 1 2.244 2.244v2.244"/>

        {%- when 'remove-small' -%}
          <path d="M5 7H6.5H18.5" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M17 7V17.5C17 17.8978 16.842 18.2794 16.5607 18.5607C16.2794 18.842 15.8978 19 15.5 19H8C7.60218 19 7.22064 18.842 6.93934 18.5607C6.65804 18.2794 6.5 17.8978 6.5 17.5V7M8.75 7V5.5C8.75 5.10218 8.90804 4.72064 9.18934 4.43934C9.47064 4.15804 9.85218 4 10.25 4H13.25C13.6478 4 14.0294 4.15804 14.3107 4.43934C14.592 4.72064 14.75 5.10218 14.75 5.5V7" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>

        {%- when 'reset' -%}
          <path d="m2.467 18.278-.988.66.987-.66ZM11.02 2.274l-.001 1.187V2.274ZM2.287 4.58a1.188 1.188 0 0 0 1.64 1.72Zm-.808 14.357a11.476 11.476 0 0 0 5.15 4.228l.908-2.194a9.101 9.101 0 0 1-4.084-3.351L1.48 18.938zm5.15 4.228a11.476 11.476 0 0 0 6.632.653l-.466-2.33a9.101 9.101 0 0 1-5.258-.517Zm6.632.653a11.474 11.474 0 0 0 5.874-3.142L17.457 19a9.101 9.101 0 0 1-4.662 2.49l.464 2.33zm5.874-3.142a11.476 11.476 0 0 0 3.14-5.875l-2.327-.462a9.101 9.101 0 0 1-2.491 4.66zm3.14-5.875a11.476 11.476 0 0 0-.652-6.63l-2.194.91a9.101 9.101 0 0 1 .518 5.258zm-.652-6.63a11.476 11.476 0 0 0-4.226-5.15l-1.32 1.974a9.101 9.101 0 0 1 3.352 4.084zm-4.226-5.15a11.476 11.476 0 0 0-6.376-1.934v2.374a9.101 9.101 0 0 1 5.056 1.536zm-6.374-1.934A12.631 12.631 0 0 0 2.285 4.58L3.927 6.3a10.257 10.257 0 0 1 7.09-2.839ZM.033 15.872a11.476 11.476 0 0 0 1.446 3.066l1.974-1.32a9.101 9.101 0 0 1-1.147-2.43Z" fill="currentColor" style="stroke-width:1.58286" transform="translate(.736 -.023)"/><path stroke="currentColor" stroke-width="2.374" d="M3.842.272 2.26 6.604 8.59 8.187"/>

        {%- when 'chevron' -%}
          <path d="M1.875 7.438 12 17.563 22.125 7.438" stroke="currentColor" stroke-width="2"/>

        {%- when 'chevron-small' -%}
          <path d="M1.875 7.438 12 17.563 22.125 7.438" stroke="currentColor" stroke-width="2.75"/>

        {%- comment -%}TODO: to be added to the mobile menu language selector{%- endcomment -%}
        {%- when 'globe' -%}
          <path d="M12 22.305c5.692 0 10.305-4.614 10.305-10.305S17.692 1.695 12 1.695C6.31 1.695 1.695 6.309 1.695 12S6.309 22.305 12 22.305zM2.454 8.826h19.092M2.454 15.174h19.092" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10"/>
          <path d="M12 1.518c5.256 6.988 5.256 13.975 0 20.965M12 1.518c-5.255 6.988-5.255 13.975 0 20.965" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10"/>

        {%- when 'sort' -%}
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.09252 18.9151C7.25828 18.9151 7.41725 18.8524 7.53446 18.7408L10.9531 15.4849C11.1972 15.2525 11.1972 14.8755 10.9531 14.6431C10.7091 14.4107 10.3134 14.4107 10.0693 14.6431L7.71752 16.8829V5.68025C7.71752 5.3515 7.4377 5.08501 7.09252 5.08501C6.74734 5.08501 6.46752 5.3515 6.46752 5.68025V16.8829L4.11577 14.6431C3.87169 14.4107 3.47596 14.4107 3.23189 14.6431C2.98781 14.8755 2.98781 15.2525 3.23189 15.4849L6.65058 18.7408C6.76779 18.8524 6.92676 18.9151 7.09252 18.9151Z" fill="currentColor"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9502 7.53246H12.9502V6.34198H20.9502V7.53246ZM20.9502 12.2944H12.9502V11.1039H20.9502V12.2944ZM12.9502 17.0563H20.9502V15.8658H12.9502V17.0563Z" fill="currentColor"/>

        {%- when 'filter' -%}
          <path d="M3.90476 6.28571H12M20.0952 6.28571H18.1905" stroke="currentColor" stroke-width="1.25"/>
          <path d="M13.9048 6.28571C13.9048 5.23374 14.7575 4.38095 15.8095 4.38095C16.8615 4.38095 17.7143 5.23374 17.7143 6.28571C17.7143 7.33769 16.8615 8.19048 15.8095 8.19048C14.7575 8.19048 13.9048 7.33769 13.9048 6.28571Z" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.90476 12H7.71429M20.0952 12H12.9524" stroke="currentColor" stroke-width="1.25"/>
          <path d="M7.2381 12C7.2381 10.948 8.09089 10.0952 9.14286 10.0952C10.1948 10.0952 11.0476 10.948 11.0476 12C11.0476 13.052 10.1948 13.9048 9.14286 13.9048C8.09089 13.9048 7.2381 13.052 7.2381 12Z" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.90476 17.7143H9.61905M20.0952 17.7143C17.4917 17.7143 17.9369 17.7143 15.3333 17.7143" stroke="currentColor" stroke-width="1.25"/>
          <path d="M11.5238 17.7143C11.5238 16.6623 12.3766 15.8095 13.4286 15.8095C14.4806 15.8095 15.3333 16.6623 15.3333 17.7143C15.3333 18.7663 14.4806 19.619 13.4286 19.619C12.3766 19.619 11.5238 18.7663 11.5238 17.7143Z" stroke="currentColor" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>

        {%- when 'quick-view' -%}
          <path d="M12.0875 15.6805C13.9032 15.6805 15.375 14.2086 15.375 12.393C15.375 10.5773 13.9032 9.10547 12.0875 9.10547C10.2719 9.10547 8.80005 10.5773 8.80005 12.393C8.80005 14.2086 10.2719 15.6805 12.0875 15.6805Z" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M22.489 11.7954C21.3901 10.5555 17.0224 6 11.8 6C6.57759 6 2.20992 10.5555 1.11096 11.7954C1.03921 11.8827 1 11.9923 1 12.1053C1 12.2184 1.03921 12.3279 1.11096 12.4153C2.20992 13.6552 6.57759 18.2107 11.8 18.2107C17.0224 18.2107 21.3901 13.6552 22.489 12.4153C22.5608 12.3279 22.6 12.2184 22.6 12.1053C22.6 11.9923 22.5608 11.8827 22.489 11.7954V11.7954Z" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>

        {%- when 'copy' -%}
          <path d="M17.562 5.574H3.404v17.31h14.158V5.575z" stroke="currentColor" stroke-width="1.513" stroke-miterlimit="10"/>
          <path d="M17.731 19.424h3.748V.919H7.326v4.655" stroke="currentColor" stroke-width="1.513" stroke-miterlimit="10"/>

        {%- when 'share' -%}
          <path fill="currentColor" fill-rule="evenodd" d="M11.847 2.262c0 .417-.244.695-.61.695H1.958v18.086H11.236c.367 0 .611.278.611.695v.696c0 .417-.244.695-.61.695H.615c-.367 0-.61-.278-.61-.695V1.566c0-.417.243-.695.61-.695h10.622c.366 0 .61.278.61.695zm11.966 9.182a.739.739 0 0 1 0 .973l-6.105 6.817c-.244.278-.61.278-.855 0l-.488-.556a.739.739 0 0 1 0-.974l4.273-4.73H7.086c-.367 0-.61-.278-.61-.696v-.695c0-.418.243-.696.61-.696h13.552l-4.273-4.73a.739.739 0 0 1 0-.974l.488-.417c.244-.278.61-.278.855 0z" clip-rule="evenodd"/>

        {%- when 'star-filled' -%}
          <path d="M11.8617 1L14.4264 8.89151H22.7235L16.0109 13.7685L18.5743 21.66L11.8617 16.783L5.14919 21.66L7.71255 13.7685L1 8.89151H9.29703L11.8617 1Z" fill="currentColor" stroke="currentColor" stroke-width="0.872727" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>

        {%- when 'star-half' -%}
          <path d="M11.8617 1L14.4264 8.89151H22.7235L16.0109 13.7685L18.5743 21.66L11.8617 16.783L5.14919 21.66L7.71255 13.7685L1 8.89151H9.29703L11.8617 1Z" stroke="currentColor" stroke-width="0.872727" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
          <path d="M11.8617 1V16.783L5.14919 21.66L7.71255 13.7685L1 8.89151H9.29703L11.8617 1Z" fill="currentColor" stroke="currentColor" stroke-width="0.872727" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>

        {%- when 'star-empty' -%}
          <path d="M11.8617 1L14.4264 8.89151H22.7235L16.0109 13.7685L18.5743 21.66L11.8617 16.783L5.14919 21.66L7.71255 13.7685L1 8.89151H9.29703L11.8617 1Z" stroke="currentColor" stroke-width="0.872727" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>

        {%- when 'checkmark' -%}
          <path d="m1.88 11.988 6.21 6.103L22.467 3.83" stroke="currentColor" stroke-width="3.055"/>

        {%- when 'discount-badge' -%}
          <path fill="currentColor" d="M10.63 22.82 1.2 13.34A4 4 0 0 1 0 10.53V4a4.11 4.11 0 0 1 .3-1.52 3.81 3.81 0 0 1 .87-1.3A3.88 3.88 0 0 1 2.48.3 4 4 0 0 1 4 0l6.73.05a4 4 0 0 1 2.79 1.17l9.29 9.34A4 4 0 0 1 24 13.4a4 4 0 0 1-1.17 2.83l-6.56 6.59a3.87 3.87 0 0 1-1.29.87 3.81 3.81 0 0 1-1.53.31 4 4 0 0 1-2.82-1.18zM7.3 7.43a1.55 1.55 0 0 0 0-2.17 1.53 1.53 0 1 0 0 2.17z"/>

        {%- when 'ellipsis' -%}
          <rect x="0.181641" width="32" height="16" rx="8" fill="currentColor" fill-opacity="0.05"/>
          <rect x="6.18164" y="6" width="4" height="4" rx="2" fill="currentColor"/>
          <rect x="14.1816" y="6" width="4" height="4" rx="2" fill="currentColor"/>
          <rect x="22.1816" y="6" width="4" height="4" rx="2" fill="currentColor"/>

        {%- when 'package-closed' -%}
          <path d="M22.48 5.28 12 8.813 1.518 5.28M12 21.851V8.814" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10"/>
          <path d="m7.025 3.425 10.48 3.535" stroke="currentColor" stroke-width="1.079" stroke-miterlimit="10"/>
          <path d="m12 21.851 10.48-4.413V5.279L12 1.75 1.518 5.279v12.159L12 21.85z" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10"/>
          <path d="m4.322 8.855 4.403 1.524v2.945L4.322 11.67V8.855z" stroke="currentColor" stroke-width="1.079" stroke-miterlimit="10"/>

        {%- when 'padlock' -%}
          <path d="M15.058 8.387V5.834a2.658 2.658 0 1 0-5.316 0v2.553" stroke="currentColor" stroke-width="1.222" stroke-miterlimit="10"/>
          <path d="M17.445 8.485V5.763a5.045 5.045 0 1 0-10.09 0v2.722" stroke="currentColor" stroke-width="1.222" stroke-miterlimit="10"/>
          <path d="M20.153 8.6H4.647v14.038h15.506V8.6z" stroke="currentColor" stroke-width="1.26" stroke-miterlimit="10" stroke-linecap="round"/>
          <path d="M13.466 19.292v-3.948a2.064 2.064 0 0 0 1.005-1.767 2.072 2.072 0 1 0-4.145 0c0 .752.404 1.403 1.004 1.767v3.948h2.136z" stroke="currentColor" stroke-width="1.159" stroke-miterlimit="10"/>

        {%- when 'arrow-short' -%}
          <path d="M0 12.4016H11.5H23M23 12.4016L13.8 3M23 12.4016L13.8 21.8032" stroke="currentColor" stroke-width="1.75"/>

        {%- when 'arrow-long' -%}
          <path d="m17.1 18.9 5.9-6.4L17.1 6m5.9 6.4H0" stroke="currentColor" stroke-width="1.1"/>

        {%- when 'arrow-long-small' -%}
          <path d="m17.146 6 5.894 6.438m0 0-5.894 6.437m5.894-6.437H0" stroke="currentColor" stroke-width="1.971"/>

        {%- when 'play-arrow-circled' -%}
          <circle cx="12" cy="11.97" r="11.22" stroke="currentColor" stroke-width="1.45px"/>
          <path d="M15.51 12 9.79 7.84v8.26z"  fill="currentColor" />

        {%- when 'play-arrow' -%}
          <path fill="currentColor" d="M3 24V0l18 12z" style="stroke-width:1.71429"/>

        {%- when 'pause' -%}
          <path fill="currentColor" fill-rule="evenodd" d="M8.59 0H1.77v24h6.82zm13.64 0h-6.82v24h6.82z" clip-rule="evenodd"/>

        {%- when 'search' -%}
          <g><path fill="currentColor" fill-rule="evenodd" d="M9.993 1.627c4.627 0 8.391 3.819 8.391 8.512 0 4.692-3.764 8.51-8.39 8.51-4.626 0-8.39-3.818-8.39-8.51 0-4.693 3.764-8.512 8.39-8.512Zm0 18.65c2.555 0 4.88-.985 6.65-2.59L22.866 24 24 22.85l-6.246-6.336a10.176 10.176 0 0 0 2.234-6.375C19.988 4.549 15.504 0 9.993 0 4.483 0 0 4.549 0 10.139c0 5.59 4.484 10.138 9.993 10.138Z" clip-rule="evenodd"/></g><defs><clipPath id="searchClip"><path fill="currentColor" d="M0 0h24v24H0z"/></clipPath></defs>

        {%- when 'verified-badge' -%}
          <path d="M7.6232 17.9999C16.8105 14.5669 15.1249 4.49857 15.1249 4.49857L7.6232 0L0.121457 4.49857C0.121457 4.49857 -1.5641 14.5669 7.6232 17.9999Z" fill="currentColor"/>
          <path d="M3.62109 9.6884L6.44462 11.9961L11.6211 5.99609" stroke="none" stroke-width="1.5"/>

        {%- when 'zoom' -%}
          <path d="M10.3,19.71c5.21,0,9.44-4.23,9.44-9.44S15.51,.83,10.3,.83,.86,5.05,.86,10.27s4.23,9.44,9.44,9.44Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1.63"/>
          <path d="M5.05,10.27H15.54" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.63"/>
          <path class="cross-up" d="M10.3,5.02V15.51" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.63"/>
          <path d="M16.92,16.9l6.49,6.49" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="1.63"/>


        {%- comment -%}Shopify media UI{%- endcomment -%}
        {%- when '3d-badge' -%}
          <circle class="badge-background" fill="currentColor" cx="12" cy="12" r="12" />
          <path d="M18.2502 7.22795L13.1202 4.26795C12.8162 4.09241 12.4713 4 12.1202 4C11.7691 4 11.4242 4.09241 11.1202 4.26795L6.00019 7.26795C5.69201 7.44583 5.43687 7.70271 5.26109 8.01209C5.0853 8.32147 4.99524 8.67215 5.00019 9.02795V14.9479C4.99524 15.3037 5.0853 15.6544 5.26109 15.9638C5.43687 16.2732 5.69201 16.5301 6.00019 16.7079L11.1202 19.7079C11.4242 19.8835 11.7691 19.9759 12.1202 19.9759C12.4713 19.9759 12.8162 19.8835 13.1202 19.7079L18.2402 16.7079C18.5484 16.5301 18.8035 16.2732 18.9793 15.9638C19.1551 15.6544 19.2451 15.3037 19.2402 14.9479V8.94795C19.2391 8.5999 19.1472 8.25815 18.9736 7.95649C18.8 7.65484 18.5506 7.40372 18.2502 7.22795ZM11.8502 18.3279L6.73019 15.3279C6.66107 15.2882 6.60179 15.2335 6.55677 15.1677C6.51176 15.1019 6.48216 15.0268 6.47019 14.9479V8.94795C6.47052 8.85425 6.49568 8.76232 6.54311 8.68151C6.59054 8.6007 6.65854 8.53391 6.74019 8.48795L11.8602 5.48795C11.9408 5.44143 12.0322 5.41694 12.1252 5.41694C12.2182 5.41694 12.3096 5.44143 12.3902 5.48795L17.5102 8.48795L12.7902 11.1679C12.5798 11.288 12.4063 11.4632 12.2882 11.6747C12.1701 11.8862 12.112 12.1259 12.1202 12.3679V18.3679C12.0349 18.3895 11.9455 18.3895 11.8602 18.3679L11.8502 18.3279Z" fill="currentColor"/>

        {%- when 'play-badge' -%}
          <circle class="badge-background" fill="currentColor" cx="12" cy="12" r="12"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.71814 5.71984C9.0517 5.31605 8.19995 5.79588 8.19995 6.5751V17.311C8.19995 18.1138 9.09826 18.5893 9.76217 18.1379L18.1123 12.4612C18.7146 12.0518 18.6912 11.1564 18.0682 10.779L9.71814 5.71984Z" fill="currentColor"/>
        {%- when '3d' -%}
          <path d="M12 2L3 7.20705V17.6079L12 22.8018L21 17.6079V7.20705L12 2ZM12.8194 11.3436L12 11.8722V20.5022L4.98238 16.4581V8.34361L12 4.29956L18.4361 8.01322L12.8194 11.3436Z" fill="currentColor" />

        {%- when '3d-button-control' -%}
          <g clip-path="url(#clip0)">
            <path d="M23.8033 0.196777H0.196716V23.8033H23.8033V0.196777Z" class="bg" fill="currentColor" stroke-miterlimit="10" />
            <path d="M12 6.82629L7.17639 9.60793V15.1791L12 17.9607L16.8236 15.1751V9.60793L12 6.82629ZM7.96328 14.7227V10.0643L12 7.73121L15.9856 10.0329L12 12.3463V17.0676L7.96328 14.7227Z" fill="currentColor" />
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="24" height="24" />
            </clipPath>
          </defs>

        {%- comment -%}Social icons{%- endcomment -%}
        {%- when 'facebook' -%}
          <path d="M12,2C6.477,2,2,6.477,2,12c0,5.013,3.693,9.153,8.505,9.876V14.65H8.031v-2.629h2.474v-1.749 c0-2.896,1.411-4.167,3.818-4.167c1.153,0,1.762,0.085,2.051,0.124v2.294h-1.642c-1.022,0-1.379,0.969-1.379,2.061v1.437h2.995 l-0.406,2.629h-2.588v7.247C18.235,21.236,22,17.062,22,12C22,6.477,17.523,2,12,2z" fill="currentColor" />

        {%- when 'instagram' -%}
          <path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z" fill="currentColor" />

        {%- when 'linkedin' -%}
          <path d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z" fill="currentColor" />

        {%- when 'pinterest' -%}
          <path d="M12,2C6.477,2,2,6.477,2,12c0,4.237,2.636,7.855,6.356,9.312c-0.087-0.791-0.167-2.005,0.035-2.868 c0.182-0.78,1.172-4.971,1.172-4.971s-0.299-0.599-0.299-1.484c0-1.391,0.806-2.428,1.809-2.428c0.853,0,1.265,0.641,1.265,1.408 c0,0.858-0.546,2.141-0.828,3.329c-0.236,0.996,0.499,1.807,1.481,1.807c1.777,0,3.143-1.874,3.143-4.579 c0-2.394-1.72-4.068-4.177-4.068c-2.845,0-4.515,2.134-4.515,4.34c0,0.859,0.331,1.781,0.744,2.282 c0.082,0.099,0.093,0.186,0.069,0.287c-0.076,0.316-0.244,0.995-0.277,1.134c-0.043,0.183-0.145,0.222-0.334,0.133 c-1.249-0.582-2.03-2.408-2.03-3.874c0-3.154,2.292-6.052,6.608-6.052c3.469,0,6.165,2.472,6.165,5.776 c0,3.447-2.173,6.22-5.189,6.22c-1.013,0-1.966-0.527-2.292-1.148c0,0-0.502,1.909-0.623,2.378 c-0.226,0.868-0.835,1.958-1.243,2.622C9.975,21.843,10.969,22,12,22c5.522,0,10-4.478,10-10S17.523,2,12,2z" fill="currentColor" />

        {%- when 'snapchat' -%}
          <path d="M21.93 16.56C21.79 16.18 21.5 16 21.22 15.81C21.17 15.78 21.11 15.75 21.07 15.73C21 15.68 20.89 15.64 20.8 15.59C19.86 15.09 19.12 14.46 18.61 13.72C18.47 13.5 18.35 13.29 18.24 13.06C18.2 12.93 18.2 12.86 18.23 12.8C18.26 12.75 18.3 12.7 18.35 12.67C18.5 12.56 18.68 12.46 18.79 12.38C19 12.25 19.15 12.15 19.25 12.08C19.64 11.81 19.91 11.5 20.08 11.2C20.32 10.75 20.35 10.22 20.16 9.75C19.91 9.08 19.27 8.66 18.5 8.66C18.34 8.66 18.18 8.68 18 8.71C18 8.72 17.94 8.73 17.9 8.74C17.9 8.28 17.89 7.8 17.85 7.32C17.71 5.64 17.12 4.76 16.5 4.06C16.11 3.62 15.65 3.24 15.14 2.95C14.21 2.42 13.15 2.15 12 2.15S9.8 2.42 8.87 2.95C8.35 3.24 7.89 3.62 7.5 4.06C6.88 4.76 6.3 5.64 6.15 7.32C6.11 7.8 6.1 8.28 6.11 8.74C6.06 8.73 6 8.72 6 8.71C5.82 8.68 5.66 8.66 5.5 8.66C4.73 8.66 4.09 9.08 3.84 9.75C3.65 10.22 3.68 10.75 3.92 11.2C4.09 11.5 4.36 11.81 4.75 12.08C4.85 12.15 5 12.25 5.21 12.39L5.63 12.66C5.69 12.7 5.73 12.75 5.77 12.8C5.8 12.87 5.8 12.94 5.75 13.07C5.65 13.3 5.53 13.5 5.39 13.72C4.89 14.45 4.18 15.07 3.27 15.56C2.78 15.82 2.28 16 2.07 16.56C1.91 17 2 17.5 2.42 17.91C2.57 18.06 2.74 18.19 2.93 18.29C3.33 18.5 3.75 18.68 4.18 18.79C4.27 18.82 4.36 18.85 4.43 18.91C4.58 19.03 4.56 19.23 4.76 19.5C4.86 19.66 5 19.79 5.13 19.89C5.54 20.18 6 20.19 6.5 20.21C6.94 20.23 7.44 20.25 8 20.44C8.26 20.5 8.5 20.67 8.79 20.85C9.5 21.27 10.42 21.85 12 21.85C13.57 21.85 14.5 21.27 15.22 20.84C15.5 20.67 15.75 20.5 16 20.44C16.55 20.25 17.06 20.23 17.5 20.21C18 20.2 18.46 20.18 18.87 19.89C19.04 19.77 19.18 19.61 19.29 19.43C19.43 19.19 19.43 19 19.56 18.91C19.63 18.86 19.71 18.82 19.8 18.8C20.24 18.68 20.66 18.5 21.06 18.29C21.27 18.18 21.45 18.04 21.6 17.87L21.61 17.87C22 17.46 22.08 17 21.93 16.56M20.53 17.31C19.67 17.78 19.1 17.73 18.66 18C18.5 18.12 18.45 18.28 18.42 18.44C18.41 18.5 18.4 18.58 18.39 18.64C18.37 18.78 18.34 18.9 18.24 18.97C17.9 19.2 16.91 18.95 15.63 19.37C14.57 19.72 13.9 20.73 12 20.73C10.1 20.73 9.45 19.73 8.37 19.37C7.1 18.95 6.1 19.2 5.77 18.97C5.5 18.78 5.72 18.26 5.34 18C4.9 17.73 4.33 17.78 3.5 17.31C3.19 17.15 3.14 17 3.18 16.93C3.22 16.84 3.34 16.77 3.42 16.73C5.07 15.94 6 14.91 6.47 14.1C6.91 13.38 7 12.83 7.03 12.75C7.06 12.54 7.09 12.38 6.86 12.17C6.64 11.96 5.66 11.36 5.39 11.17C4.93 10.85 4.74 10.54 4.88 10.15L4.88 10.15V10.15C5 9.88 5.23 9.78 5.5 9.78C5.58 9.78 5.66 9.79 5.74 9.81C6.24 9.91 6.72 10.16 7 10.23C7.03 10.24 7.06 10.24 7.1 10.24C7.19 10.24 7.24 10.21 7.27 10.15C7.28 10.11 7.29 10.06 7.29 10C7.25 9.46 7.18 8.41 7.26 7.42C7.3 7 7.37 6.64 7.46 6.33C7.66 5.65 8 5.2 8.34 4.79C8.59 4.5 9.75 3.27 12 3.27C13.85 3.27 14.96 4.11 15.44 4.56C15.54 4.66 15.62 4.74 15.66 4.79C16.04 5.23 16.38 5.71 16.58 6.47C16.65 6.74 16.71 7.06 16.74 7.42C16.82 8.4 16.75 9.46 16.71 10C16.71 10.04 16.71 10.08 16.72 10.11C16.73 10.2 16.79 10.24 16.9 10.24C16.94 10.24 16.97 10.24 17 10.23C17.28 10.16 17.76 9.91 18.26 9.8C18.34 9.79 18.42 9.78 18.5 9.78C18.75 9.78 19 9.87 19.1 10.1L19.11 10.14L19.12 10.14L19.12 10.15C19.27 10.53 19.07 10.85 18.62 11.16C18.35 11.35 17.36 11.96 17.14 12.16C16.91 12.38 16.94 12.54 16.97 12.75C17 12.85 17.18 13.8 18.08 14.86C18.63 15.5 19.42 16.17 20.58 16.73C20.65 16.76 20.74 16.81 20.79 16.87C20.82 16.92 20.84 16.96 20.83 17C20.82 17.1 20.73 17.2 20.53 17.31Z" fill="currentColor" />

        {%- when 'tiktok' -%}
          <path fill-rule="evenodd" d="M16.16 1.35c.35 3 2 4.83 5 5v3.4a7.79 7.79 0 0 1-4.92-1.44v6.36c0 8.07-8.8 10.59-12.34 4.81C1.59 15.77 3 9.24 10.28 9v3.59a11.24 11.24 0 0 0-1.69.41c-1.62.55-2.54 1.58-2.29 3.4.49 3.47 6.87 4.5 6.34-2.29V1.36h3.52z" fill="currentColor"/>

        {%- when 'tumblr' -%}
          <path d="M 20 2 L 4 2 C 2.898438 2 2 2.898438 2 4 L 2 20 C 2 21.101563 2.898438 22 4 22 L 20 22 C 21.101563 22 22 21.101563 22 20 L 22 4 C 22 2.898438 21.101563 2 20 2 Z M 17 17.875 C 17 17.921875 16.980469 17.972656 16.941406 18 C 16.894531 18.046875 15.515625 19 13 19 C 9.980469 19 10 15.386719 10 15 L 10 11 L 8.175781 11 C 8.078125 11 8 10.921875 8 10.824219 L 8 9.164063 C 8 9.085938 8.039063 9.027344 8.105469 9 C 8.136719 8.988281 11 7.730469 11 5.175781 C 11 5.078125 11.078125 5 11.175781 5 L 12.828125 5 C 12.921875 5 13 5.078125 13 5.175781 L 13 9 L 15.824219 9 C 15.914063 9 16 9.078125 16 9.175781 L 16 10.828125 C 16 10.921875 15.914063 11 15.824219 11 L 13 11 L 13 15 C 13 15.058594 12.90625 16.273438 14.199219 16.273438 C 15.261719 16.273438 16.71875 15.925781 16.730469 15.925781 C 16.789063 15.886719 16.855469 15.886719 16.902344 15.917969 C 16.960938 15.945313 17 16.003906 17 16.070313 Z" fill="currentColor" />

        {%- when 'twitter' -%}
          <path fill="currentColor" d="M13.712 10.622 20.413 3h-1.587l-5.819 6.618L8.36 3H3l7.027 10.007L3 21h1.588l6.144-6.989L15.64 21H21l-7.288-10.378Zm-2.175 2.474-.712-.997L5.16 4.17H7.6l4.571 6.4.712.996 5.943 8.319h-2.439l-4.85-6.788Z"/>

        {%- when 'youtube' -%}
          <path d="M10,15L15.19,12L10,9V15M21.56,7.17C21.69,7.64 21.78,8.27 21.84,9.07C21.91,9.87 21.94,10.56 21.94,11.16L22,12C22,14.19 21.84,15.8 21.56,16.83C21.31,17.73 20.73,18.31 19.83,18.56C19.36,18.69 18.5,18.78 17.18,18.84C15.88,18.91 14.69,18.94 13.59,18.94L12,19C7.81,19 5.2,18.84 4.17,18.56C3.27,18.31 2.69,17.73 2.44,16.83C2.31,16.36 2.22,15.73 2.16,14.93C2.09,14.13 2.06,13.44 2.06,12.84L2,12C2,9.81 2.16,8.2 2.44,7.17C2.69,6.27 3.27,5.69 4.17,5.44C4.64,5.31 5.5,5.22 6.82,5.16C8.12,5.09 9.31,5.06 10.41,5.06L12,5C16.19,5 18.8,5.16 19.83,5.44C20.73,5.69 21.31,6.27 21.56,7.17Z" fill="currentColor" />

        {%- when 'vimeo' -%}
          <path d="M22,7.42C21.91,9.37 20.55,12.04 17.92,15.44C15.2,19 12.9,20.75 11,20.75C9.85,20.75 8.86,19.67 8.05,17.5C7.5,15.54 7,13.56 6.44,11.58C5.84,9.42 5.2,8.34 4.5,8.34C4.36,8.34 3.84,8.66 2.94,9.29L2,8.07C3,7.2 3.96,6.33 4.92,5.46C6.24,4.32 7.23,3.72 7.88,3.66C9.44,3.5 10.4,4.58 10.76,6.86C11.15,9.33 11.42,10.86 11.57,11.46C12,13.5 12.5,14.5 13.05,14.5C13.47,14.5 14.1,13.86 14.94,12.53C15.78,11.21 16.23,10.2 16.29,9.5C16.41,8.36 15.96,7.79 14.94,7.79C14.46,7.79 13.97,7.9 13.46,8.12C14.44,4.89 16.32,3.32 19.09,3.41C21.15,3.47 22.12,4.81 22,7.42Z" fill="currentColor" />

        {%- when 'grid' -%}
          <path d="M9.30005 3.6748H4.80005C4.17873 3.6748 3.67505 4.17848 3.67505 4.7998V9.2998C3.67505 9.92112 4.17873 10.4248 4.80005 10.4248H9.30005C9.92137 10.4248 10.425 9.92112 10.425 9.2998V4.7998C10.425 4.17848 9.92137 3.6748 9.30005 3.6748Z" stroke="currentColor" stroke-width="1.25"/>
          <path d="M9.30005 13.5752H4.80005C4.17873 13.5752 3.67505 14.0789 3.67505 14.7002V19.2002C3.67505 19.8215 4.17873 20.3252 4.80005 20.3252H9.30005C9.92137 20.3252 10.425 19.8215 10.425 19.2002V14.7002C10.425 14.0789 9.92137 13.5752 9.30005 13.5752Z" stroke="currentColor" stroke-width="1.25"/>
          <path d="M19.2 3.6748H14.7C14.0787 3.6748 13.575 4.17848 13.575 4.7998V9.2998C13.575 9.92112 14.0787 10.4248 14.7 10.4248H19.2C19.8213 10.4248 20.325 9.92112 20.325 9.2998V4.7998C20.325 4.17848 19.8213 3.6748 19.2 3.6748Z" stroke="currentColor" stroke-width="1.25"/>
          <path d="M19.2 13.5752H14.7C14.0787 13.5752 13.575 14.0789 13.575 14.7002V19.2002C13.575 19.8215 14.0787 20.3252 14.7 20.3252H19.2C19.8213 20.3252 20.325 19.8215 20.325 19.2002V14.7002C20.325 14.0789 19.8213 13.5752 19.2 13.5752Z" stroke="currentColor" stroke-width="1.25"/>

        {%- when 'list' -%}
          <path d="M19.2001 3.6748H4.80005C4.17873 3.6748 3.67505 4.17848 3.67505 4.7998V9.2998C3.67505 9.92112 4.17873 10.4248 4.80005 10.4248H19.2001C19.8214 10.4248 20.325 9.92112 20.325 9.2998V4.7998C20.325 4.17848 19.8214 3.6748 19.2001 3.6748Z" stroke="currentColor" stroke-width="1.25"/>
          <path d="M19.2001 13.5752H4.80005C4.17873 13.5752 3.67505 14.0789 3.67505 14.7002V19.2002C3.67505 19.8215 4.17873 20.3252 4.80005 20.3252H19.2001C19.8214 20.3252 20.325 19.8215 20.325 19.2002V14.7002C20.325 14.0789 19.8214 13.5752 19.2001 13.5752Z" stroke="currentColor" stroke-width="1.25"/>

        {%- when 'expand' -%}
          <path d="M1 5.85714L5.10714 1.75L9.21429 5.85714" stroke="currentColor" stroke-width="1.25"/>
          <path d="M1 9.14286L5.10714 13.25L9.21429 9.14286" stroke="currentColor" stroke-width="1.25"/>

        {%- when 'phone' -%}
          <path d="M20.4653 15.4317L16.302 13.6439C16.1242 13.5686 15.9269 13.5528 15.7395 13.599C15.5521 13.6451 15.3846 13.7507 15.2621 13.8998L13.4266 16.1484C10.5356 14.788 8.20948 12.4624 6.84873 9.57203L9.10176 7.733C9.25149 7.61096 9.35744 7.44353 9.40363 7.25599C9.44981 7.06845 9.43372 6.87098 9.35778 6.69338L7.55773 2.53491C7.47388 2.3467 7.32811 2.19286 7.14465 2.099C6.96119 2.00515 6.75111 1.97693 6.54938 2.01904L2.68931 2.90902C2.49278 2.95453 2.31754 3.06543 2.1923 3.22355C2.06707 3.38166 1.99927 3.57762 2.00001 3.7793C1.99949 6.04056 2.44453 8.27978 3.30972 10.3691C4.17491 12.4583 5.44329 14.3568 7.04243 15.9559C8.64157 17.555 10.5401 18.8236 12.6297 19.689C14.7193 20.5545 16.9589 20.9999 19.2207 20.9999V20.9999C19.4228 21.0021 19.6195 20.9349 19.7779 20.8094C19.9364 20.684 20.047 20.508 20.0912 20.3108L20.9774 16.4516C21.0241 16.2481 20.998 16.0347 20.9037 15.8484C20.8095 15.6621 20.653 15.5147 20.4614 15.4317H20.4653Z" stroke="currentColor" stroke-width="1.2"/>
          {% comment %} TODO similar to one in editorial {% endcomment %}

        {%- when 'map-pin' -%}
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5686 20.5714C15.888 15.7632 18.0476 12.0976 18.0476 9.57465C18.0476 5.79016 15.429 3.42857 11.5686 3.42857C7.70819 3.42857 5.19049 5.79016 5.19049 9.57465C5.19049 12.0976 7.31653 15.7632 11.5686 20.5714Z" stroke="currentColor" stroke-width="1.2"/>
          <path d="M11.38 11.9991C12.695 11.9991 13.761 10.9331 13.761 9.61812C13.761 8.30316 12.695 7.23717 11.38 7.23717C10.0651 7.23717 8.99908 8.30316 8.99908 9.61812C8.99908 10.9331 10.0651 11.9991 11.38 11.9991Z" stroke="currentColor" stroke-width="1.2"/>

        {%- when 'disc-question' -%}
            <path d="M9.76117 7.77006C10.9972 6.68811 13.0028 6.68811 14.2388 7.77006C15.4759 8.852 15.4759 10.6063 14.2388 11.6883C14.0246 11.8772 13.7849 12.0324 13.5316 12.1548C12.7452 12.5359 12.0011 13.2093 12.0011 14.0833V14.875M21.5 12.5C21.5 13.7476 21.2543 14.9829 20.7769 16.1355C20.2994 17.2881 19.5997 18.3354 18.7175 19.2175C17.8354 20.0997 16.7881 20.7994 15.6355 21.2769C14.4829 21.7543 13.2476 22 12 22C10.7524 22 9.5171 21.7543 8.36451 21.2769C7.21191 20.7994 6.16464 20.0997 5.28249 19.2175C4.40033 18.3354 3.70056 17.2881 3.22314 16.1355C2.74572 14.9829 2.5 13.7476 2.5 12.5C2.5 9.98044 3.50089 7.56408 5.28249 5.78249C7.06408 4.00089 9.48044 3 12 3C14.5196 3 16.9359 4.00089 18.7175 5.78249C20.4991 7.56408 21.5 9.98044 21.5 12.5ZM12 18.0417H12.0084V18.0501H12V18.0417Z" stroke="currentColor" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
            {% comment %} TODO similar to one in editorial {% endcomment %}
    {%- endcase -%}
  </svg>
</span>
