{% liquid
  comment
    Renders an icon for a button.

    Required parameters:
      - icon: { String } The name of the icon to use.

    Optional parameters:
      - hidden: { Boolean } Whether the icon should be hidden.
      - button_size: { String } The button size. Can be:
        - 'small'
        - 'medium'
        - 'large' (default)
      - icon_size: { Number } The size of the icon (in pixels).
      - label: { String } A label for the icon.
      - secondary_icon: { String } The name of a secondary icon to use.
      - tag: { String } An HTML tag to use for the parent element.
  endcomment

  assign has_secondary_icon = false
  assign button_size = button_size | default: 'large'
  assign tag = tag | default: 'span'

  if secondary_icon != blank
    assign has_secondary_icon = true
  endif

  capture icon_button_attributes
    echo 'data-size="[[bs]]"' | replace: '[[bs]]', button_size
    echo 'data-has-secondary-icon="[[hsi]]"' | replace: '[[hsi]]', has_secondary_icon

    if hidden
      echo 'aria-hidden hidden'
    endif

    if icon_size != blank
      assign icon_button_style = 'style="--icon-width: [[iw]]px; --icon-height: [[ih]]px;"'
      echo icon_button_style | replace: '[[iw]]', icon_size | replace: '[[ih]]', icon_size
    endif

    if label != blank
      echo 'aria-label="[[label]]"' | replace: '[[label]]', label
    endif
  endcapture
%}

<{{ tag }}
  class="icon-button {{ icon }}"
  {{ icon_button_attributes }}
>
  <span class="icon-button__icon">
    {% render 'icon', icon: icon, class: 'icon--primary' %}

    {% if secondary_icon != blank -%}
      {% render 'icon', icon: secondary_icon, class: 'icon--secondary' %}
    {%- endif %}
  </span>
</{{ tag }}>
