{% liquid
  comment
    Renders a mobile menu promoted text block.

    Required parameters:
    - block: { Object } The associated block object.
  endcomment
-%}

<div class="mobile_menu__promo_block mobile-menu-block-promoted-text" {{ block.shopify_attributes }}>
  {% if block.settings.title != blank -%}
    <h2 class="mobile-menu-block-title fs-accent-bold">{{ block.settings.title }}</h2>
  {%- endif %}

  <div class="mobile-menu-block-promoted-text__inner fs-body-100 rte" data-layout="{{ block.settings.layout }}">
    {{ block.settings.text }}
  </div>
</div>
