<div
  class="product__controls-group product__controls-group-quantity product__block product__block--medium"
  {{ block.shopify_attributes }}
>
  {% render 'quantity-input',
    parent_id: block.id,
    prod: prod,
    initial_value: '1',
    show_label: block.settings.show_label,
    show_quantity_in_cart: block.settings.show_quantity_in_cart,
    use_border: true,
    wrapper_class: 'quantity-input-wrapper--product-form'
  -%}
</div>
