{% liquid
  comment
    Renders a spacer block (vertical whitespace).

    Required parameters:
      - space: { Number } The height of the spacer, in pixels.
      - shopify_attributes: { Object } Attributes for the theme editor.
  endcomment
-%}
<div class="section-blocks__spacer" style="height: {{ space }}px" {{ shopify_attributes }}></div>
