{%- comment -%}
  Star rating icons

  Pass in:
  rating: [Int] the current rating
  rating_style: [String] (optional) "regular" (5 small stars) vs "compact" (one full large star)
  class_name: [String] (optional) element class name
{%- endcomment -%}

{%- liquid
  assign max_star_rating = 5
  assign solid_star_rating = rating | floor
  assign remaining_stars = max_star_rating | minus: rating
-%}

<div class="star-rating {{ class_name }}" data-rating-style="{{ rating_style }}">
  {%- if rating_style == 'compact' -%}
    {%- render 'icon', icon: 'star-filled', style: '--icon-size: 15px' -%}
  {%- else -%}
    {%- for star in (1..solid_star_rating) -%}
      {%- render 'icon', icon: 'star-filled' -%}
    {%- endfor -%}

    {%- if remaining_stars > 0 -%}
      {%- assign remaining_stars_includes_half_star = remaining_stars | modulo: 1 -%}
      {%- if remaining_stars_includes_half_star != 0 -%}
        {%- render 'icon', icon: 'star-half' -%}
      {%- endif -%}

      {%- assign remaining_empty_stars = remaining_stars | floor -%}

      {%- if remaining_empty_stars > 0 -%}
        {%- for empty_star in (1..remaining_empty_stars) -%}
          {%- render 'icon', icon: 'star-empty' -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
</div>
