<button
  type="button"
  class="btn video-pause-floating"
  title="{{ 'general.accessibility.pause' | t | escape }}"
  data-is-playing="true"
  style="{{ image_overlay_style_for_content }}"
>
  {% render 'icon', icon: 'play-arrow' %}
  {% render 'icon', icon: 'pause' %}
</button>
