<section
  class="customer login page"
  data-section-id="{{ section.id }}"
  data-section-type="login"
>
  <div class="login__inner page__inner">
    {% render 'account-login', id: 'account-login', heading_class: 'ff-heading fs-heading-2-base', is_template: true %}
  </div>
</section>
