{%- if section.settings.custom_liquid != blank -%}
  <div
    class="section"
    style="{% render 'settings-section-style-style' %}"
  >
    <div class="section-inner">
      {{ section.settings.custom_liquid }}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.custom_liquid.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom_liquid.settings.custom_liquid.label"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "section_style_spacing_top",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_top.label",
      "default": 36
    },
    {
      "id": "section_style_spacing_bottom",
      "type": "range",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:shared.settings.section_style.spacing_bottom.label",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_liquid.presets.name"
    }
  ]
}
{% endschema %}
