{%- assign current_variant = product.selected_or_first_available_variant -%}

<div class="quick-product__background-spacer"></div>

{%- capture rendered_content -%}
  <div
    class="quick-product"
    data-quick-product
    data-quick-product-type="add"
    data-section-type="product"
    data-section-id="{{ section.id }}"
  >
    <div class="quick-product__right">
      <div class="quick-product__right-sticky-header" data-quick-sticky-header data-has-price="{{ section.settings.show_price }}">
        {% if product != blank -%}
          <div class="product__title ff-heading fs-body-100">{{ product.title }}</div>

          {% if section.settings.show_price -%}
            <div class="product__price ff-product-price fs-body-100">
              {% render 'product-price',
                prod: product,
                current_variant: current_variant,
                show_discount: section.settings.show_discount,
                discount_format: section.settings.discount_format
              -%}
            </div>
          {%- endif %}
        {%- endif %}
      </div>

      <div class="quick-product__right-viewport" data-scroll-lock-ignore>
        <div class="quick-product__right-inner">
          <div class="quick-product__header-block-wrap">
            {% render 'product-block-header',
              prod: product,
              block_settings: section.settings,
              current_variant: current_variant,
              is_quick: true,
            -%}
          </div>

          <div class="quick-product__product-blocks-wrapper animation animation--item">
            {% render 'product-blocks',
              prod: product,
              blocks: section.blocks,
              is_quick: true,
              current_variant: current_variant,
            -%}
          </div>
        </div>
      </div>

      <div class="quick-product__right-viewport-footer">
        {% render 'product-block-buy-buttons',
          prod: product,
          block: section,
          blocks: section.blocks,
          current_variant: current_variant,
          is_quick: true,
          show_quantity_selector: true
        -%}
      </div>
    </div>
  </div>
{%- endcapture -%}

{% render 'quick-product-modal', content: rendered_content, open: true, type: 'quick-add' %}

{% schema %}
{
  "name": "t:sections.main_product_quick_add.name",
  "class": "quick-product--add",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main_product_quick_add.settings.header__content.content"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.main_product_overview.blocks.product_header.settings.show_divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.main_product_overview.blocks.product_header.settings.show_vendor.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "label": "t:sections.main_product_overview.blocks.product_header.settings.show_sku.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.main_product_overview.blocks.product_header.settings.header__price.content"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "t:sections.main_product_overview.blocks.product_header.settings.show_price.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_discount",
      "label": "t:shared.settings.show_discount.label",
      "default": true
    },
    {
      "type": "select",
      "id": "discount_format",
      "label": "t:shared.settings.discount_format.label",
      "default": "percent_off",
      "options": [
        {
          "value": "sale_text",
          "label": "t:shared.settings.discount_format.option_sale_text"
        },
        {
          "value": "percent_off",
          "label": "t:shared.settings.discount_format.option_percent_off"
        },
        {
          "value": "minus_percent",
          "label": "t:shared.settings.discount_format.option_minus_percent"
        },
        {
          "value": "save_percent",
          "label": "t:shared.settings.discount_format.option_save_percent"
        },
        {
          "value": "amount_off",
          "label": "t:shared.settings.discount_format.option_amount_off"
        },
        {
          "value": "minus_amount",
          "label": "t:shared.settings.discount_format.option_minus_amount"
        },
        {
          "value": "save_amount",
          "label": "t:shared.settings.discount_format.option_save_amount"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "inventory-counter",
      "name": "t:sections.main_product_overview.blocks.inventory_counter.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.label.label",
          "default": "Availability"
        },
        {
          "type": "text",
          "id": "inventory_max",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.inventory_max.label",
          "info": "t:sections.main_product_overview.blocks.inventory_counter.settings.inventory_max.info",
          "default": "100"
        },
        {
          "type": "text",
          "id": "low_inventory_threshold",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.low_inventory_threshold.label",
          "info": "t:sections.main_product_overview.blocks.inventory_counter.settings.low_inventory_threshold.info",
          "default": "40"
        },
        {
          "type": "select",
          "id": "indicator_style",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.indicator_style.label",
          "options": [
            {
              "value": "icon_with_text",
              "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.indicator_style.options.icon_with_text"
            },
            {
              "value": "dot_with_text",
              "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.indicator_style.options.dot_with_text"
            },
            {
              "value": "text",
              "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.indicator_style.options.text"
            }
          ],
          "default": "icon_with_text"
        },
        {
          "type": "checkbox",
          "id": "show_status_bar",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.show_status_bar.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_inventory_transfer",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.show_inventory_transfer.label",
          "info": "t:sections.main_product_overview.blocks.inventory_counter.settings.show_inventory_transfer.info",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_untracked_quantity",
          "label": "t:sections.main_product_overview.blocks.inventory_counter.settings.show_untracked_quantity.label",
          "default": false
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main_product_overview.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "swatch_size",
          "label": "t:sections.main_product_overview.blocks.variant_picker.settings.swatch_size.label",
          "default": "medium",
          "options": [
            {
              "value": "small",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.swatch_size.option_small"
            },
            {
              "value": "medium",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.swatch_size.option_medium"
            },
            {
              "value": "large",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.swatch_size.option_large"
            }
          ]
        },
        {
          "type": "select",
          "id": "chip_layout",
          "label": "t:sections.main_product_overview.blocks.variant_picker.settings.chip_layout.label",
          "default": "4col",
          "options": [
            {
              "value": "4col",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.chip_layout.option_4col"
            },
            {
              "value": "3col",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.chip_layout.option_3col"
            },
            {
              "value": "2col",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.chip_layout.option_2col"
            },
            {
              "value": "natural",
              "label": "t:sections.main_product_overview.blocks.variant_picker.settings.chip_layout.option_natural"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
